<div id="<%= dom_id admin %>">
  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Password hash:</strong>
    <%= admin.password_hash %>
  </p>

</div>
