<div id="<%= dom_id order_main %>">
  <p>
    <strong>User:</strong>
    <%= order_main.user_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order_main.total %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order_main.status %>
  </p>

</div>
