<% content_for :title, "Editing order main" %>

<h1>Editing order main</h1>

<%= render "form", order_main: @order_main %>

<br>

<div>
  <%= link_to "Show this order main", @order_main %> |
  <%= link_to "Back to order mains", order_mains_path %>
</div>
